<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<% include partials/head.ejs %>
</head>
<body>
	<header id="nav"></header>
	<div id="main-container">
		
	</div>
	<% include partials/jsdefaults.ejs %>
</body>
</html>
