<!--
  Show the info of a specific workplace
-->
<div id="aWorkplace">
	<h3 style="margin-top: 0px;">{{name}}</h3>
	<p> Location: {{location}} </p>
	<p> Description: {{description}} </p>
	<form id="join-form">
		<input value={{id}} type="hidden" name= "workid"/>
		<button id="joinWorkplace-btn" type="submit"> Join Workplace! </button>
	</form>
</div>
