<!--
  Write a template for a SINGLE myWorkplace
  Each workplace has fields: _id, name, location, description
-->
<a href="#" class="gotoMyWorkplace">
	<div class="myWorkplace" data-secret-id={{_id}}>
		<p>{{name}} - {{location}}</p>
	</div>
</a>
