<nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">ReShift</a>
		</div>
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav navbar-right">
				{{#if user}}
				<p class="navbar-text" style="text-align:center; color:white;">Hi, {{user}}</p>
				<input id="dataId" type="hidden" value={{id}}>
				<li>
					<form id="logout-form">
						<button type="submit" id="headerSignButton" class="btn btn-default navbar-btn">Log Out</button>
					</form>
				</li>
				{{else}}
				<li>
					<form>
						<input type="text" hidden/> 
						<button type="submit" id="headerSignButton" class="btn btn-default navbar-btn" data-toggle="modal" data-target="#loginModal">Log In</button>
					</form>
				</li>
				{{/if}}

			</ul>
		</div><!-- /.navbar-collapse -->
	</div><!-- /.container-fluid -->
</nav>
