<div id="signup">
  <h1>Settings</h1>
  <h2>Personal information</h2>
  
  <div id= "personalInfo">
    <div> Name: {{name}} </div>
    <div> Email: {{email}} </div>
    <div> Password: {{password}} </div>
  </div>
  <form id="edit-form">
    <button type="submit" id="edit-btn"> Edit </button> 
  </form>
</div>