<div id='specificWorkplaceTitle' style="text-align:center; padding-top: 50px;">
</div>
<input id="workplaceID" type="hidden" value={{workID}} />
<br><br>

<div id="overallPage">
	<div style="display:inline; float:left; width:29%; text-align: center;">
		<br><br><br>
		<div id='peopleTables'>

		</div>

	</div>
	<div style="display:inline; float:left; width:69%;">
		<div id="calendar"></div>
	</div>

	

</div>




<div id="eventPage">

	<h2 id="eventPageStatus">Status Of Event</h2>
	<p id="eventPageTime">Time</p>
	<p id="eventPageManager">Manager Of shift</p>
	<div id="additionalInput"></div>
	<br>
	<div style="display:inline-block; width: 100%; text-align:center; margin:0 auto;">
		<div style="display:inline; float:left; width:49%;">
			<p id="eventPageButton"></p>
		</div>
		<div style="display:inline; float:left; width:49%;">
			<p><a onclick="closeEventPage();">Cancel</a></p>
		</div>
	</div>
	
</div>
<div id="cover"></div>

